html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

a {
    text-decoration: none;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--brand-main-color);
}

:root {
    --brand-main-color: #ffffff;
    --brand-text: #212121;
    --brand-allocations: #757575;
    --brand-link: #2196F3;

    --iteams: 3;
    --wrap: 45px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--wrap) / 2);
}
.grid-iteam {
    flex-basis: calc((100% - var(--wrap) * var(--iteams)) / var(--iteams));
    margin: calc(var(--wrap) / 2);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
}

.selection {
    padding-top: 94px;
    padding-bottom: 47px;
}

.selection-buttom {
    padding-top: 47px;
    padding-bottom: 94px;
}
.selection-up {
    padding-top: 94px;
    padding-bottom: 94px;
}

.header {
    margin: 0 auto;
    border-bottom: 1px;
    border-style: solid;
    border-color:#EEEEEE;
    max-width: 1600px;
}
.header-direction {
    display: flex;
}
.logo {
    text-decoration: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    
    display: flex;
    margin-top: 24px;
    margin-bottom: 25px;
}
.social-links {
    display: flex;
    margin-left: 93px;

    margin-top: 32px;
}
.header-p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    margin-right: 50px;
}
.header-p :hover {
    color: var(--brand-link);
}
.contact {
    display: flex;
    margin-left: 120px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.contact-text a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--brand-allocations);

    margin-right: 50px;
}
.contact-text a:hover {
    color: var(--brand-link);
}

.selection-background {
    background: rgba(47, 48, 58, 0.4);
    background-image: url(../images/Img.png);
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px; 
    margin: 0 auto;
    background-position: center;
    max-width: 1600px;
}
.first-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var( --brand-main-color);
    width: 696px;
}

.button {
    width: 216px;
    height: 50px;
    background-color: var(--brand-link);
    border-radius: 4px;
    border: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: var(--brand-main-color);
    box-shadow: 0px 4px 4px 0px #00000026;
    cursor: pointer;

    margin-top: 30px;
}
.information {
    display: flex;
}

.information h3 {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-text);
    width: 270px;
}

.information p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--brand-allocations);

    margin-top: 10px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--brand-text);
    width: 366px;
    
    margin-bottom: 50px;
}

.title-two {
    font-size: 36px;
    font-style: Bold;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.our-team {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.card-our {
    background-color: var(--brand-main-color);
    border: 2px solid #EEEEEE;
    border-radius: 3px;
    box-shadow: 0px 2px 1px 0px #00000033;
    
    flex-basis: calc((100% - 30 * 4) / 4);
    margin: 15px;
}

.our-team h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--brand-text);
    
    margin-top: 30px;
}

.our-team p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-allocations);

    margin-top: 10px;
    padding-bottom: 30px;
}
.our-text-direction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.background-color {
    margin: 0 auto;
    max-width: 1600px;
    background: #F5F4FA;
}

.footer {
    margin: 0 auto;
    max-width: 1600px;
    background: #2F303A;
}

.secound-footer-selection {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-direction > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer-logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--brand-link);
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    width: 145px;
}

.footer-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--brand-main-color);
    width: 231px;
}

.footer-adress a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 9px;
    width: 231px;
}
.footer-adress a:hover {
    color: var(--brand-link);
}

.container-second-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.portfolio-buttons-menu {
    display: flex;
    margin-bottom: 34px;
}
.second-button {
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: 0px;
    color: var(--brand-text);
    cursor: pointer;

    padding: 10px;
    margin-right: 8px; 
}   
.second-button:hover {
    background-color: var(--brand-link);
    color: white;
}
.direction {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 94px;
    margin-bottom: 34px;
}

.second-card{
    background: var(--brand-main-color);
}

.second-card:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}
.text-border {
    border: 1px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #EEEEEE;
    padding: 24px 20px;
}
.text-border h3 {
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--brand-text);

    
}
.text-border p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    line-height: 2.0;
    letter-spacing: 0.03em;
    color: var(--brand-allocations);
}